<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Good to fly</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/assets/styles.css" media="screen" charset="utf-8">
</head>
<body>
  {{{body}}}
  <footer class="text-muted">
    <div class="container">
      <p class="pull-right">
        <a href="/all.json">All data</a>
      </p>
      <p><a href="https://github.com/destos/good-to-fly">Good to Fly</a> is licensed under a GPL-v3 license.</p>
      <p>Built by <a href="http://destos.com">Patrick Forringer</a>, with helpful intents.</p>
    </div>
  </footer>
</body>
</html>
